/*  your css code here. If applicable */
.card{
	background-color:rgb(241,241,241);
	width:400px;
	height:600px;
	box-shadow: 0 4px 10px  black,  0 2px 10px  black;
}
#image{
	margin:50px;
	
}
h1{
	font-size:50px;
	
p{
	font-size:30px
}
.buy{
	align-items:center
		padding:100px;
		background-color:;
		font-color:white;
	  border-radius:20px;
	 background-color:rgb(255,98,91);
     text-align: center;
	}
